@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: rgb(33, 33, 33);
  color-scheme: dark;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.green {
  background-color: rgb(134, 226, 134);
}
.red {
  background-color: rgb(228, 104, 104);
}
.orange {
  background-color: rgb(223, 149, 52);
}
.yellow {
  background-color: rgb(206, 223, 52);
}
.purple {
  background-color: rgb(123, 41, 230);
}
.blue {
  background-color: rgb(89, 131, 221);
}
.pink {
  background-color: #FF00FF;
}
.forte {
  filter: saturate(1.8);
  border: black solid 2px;
  color: black;
}
:root {
  --topo: 4vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
  
}
/* INICIO PÁGINA ESTUDOS BANRISUL */
span {
  color: rgb(255, 255, 255);
  /* text-decoration: underline; */
  font-weight: 800;
}
.pc {
  color: blue;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}
/* FIM PÁGINA ESTUDOS BANRISUL */
