.cabecalho {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.papel {
  background-image: url(../public/img/fundo-papel-gleiton-aparecido-soares-de-souza.jpeg);
  border-radius: 8px;
}
.papel > * {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: #989898;
  color: transparent;
  font: 700 arial, sans-serif;
  padding: 2px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 3px hsl(0deg 0% 100% / 50%);
}
.fotoPerfil {
  width: 30%;
}
.fotoPerfil div {
  width: 100%;
}
.gleitonOne {
  display: flex;
  margin-bottom: -20px;
}
.infoCapa {
  display: flex;
  margin: auto;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.215);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.infoCapa img {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 0.587),
    rgba(0, 0, 0, 0.351) 70%
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  margin: 10px 0;
}
.infoP {
  width: 70%;

  padding: 10px;
  color: white;
  line-height: 0em;
  border-radius: 0px 8px 8px 0px;
  margin: 10px 2em;
}

.sociais a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}
.sociais a:hover {
  color: rgb(0, 0, 0);
}
.vidPerfil {
  border-radius: 50%;
  overflow: hidden;
}
.cursoP {
  cursor: progress;
}
.sociais {
  margin-top: 1px;
}
.Isociais {
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
}
.iconesJ {
  width: 100%;
  background-color: gray; 
}
.iconesJ a {
  margin-left: 10px;
}
.baixarC a button{
  padding: .6em;
  margin: 1.3em;
}.baixarC a button:hover{
  cursor: pointer;
}
.stail {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  background-image: linear-gradient(to bottom, green, rgb(0, 55, 0));
  box-shadow: black 0px 1px 4px 0px;
  border-radius: 8px;
  padding: 2px;
  width: fit-content;
  color: rgb(255, 255, 255);
  transition: 500ms;
}
.stail:hover {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  background-image: linear-gradient(to bottom, rgb(1, 157, 1), rgb(0, 122, 0));
  box-shadow: black 0px 6px 8px 0px;
  border-radius: 8px;
  padding: 2px;
  width: fit-content;
  color: rgb(255, 255, 255);
}

/*Janela Windows CSS*/
.janelaWindows {
  background-image: url(../public/img/windows-10-gleiton-aparecido-soares-de-souza-baixar-curriculo.jpg);
  background-size: cover;
  width: 50%;
  border: solid 1px black;
  text-align: center;
  padding-bottom: 1em;
}
.oculted {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .fotoPerfil {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  
}
@media (max-width: 568px) {
  .infoP {
    width: 100%;
    margin: 10px 0em;
  }
  .infoCapa {
    display: block;
  }
  .fotoPerfil {
    width: 100%;
  }
  .janelaWindows {
    
    width: 100%;
    
  }
  .Isociais {
    display: flex;
  }
  .Isociais p {
    max-width: 100%;
    line-height: 1em;
  }
  .infoP h2 {
    line-height: 1em;
    font-size: 1.7em;
    text-align: center;
  }
}
