.cabecalho {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Rosto em css*/
.imagemEmCss {
  width: 500px;
  border: #131313 solid 1px;
}

.fundoCurri {
  background: rgba(5, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(4, 12, 123, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin: 0px 0px;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 999999;
  position: fixed;
}
.papel {
  /* background-image: url(../public/img/fundo-papel-gleiton-aparecido-soares-de-souza.jpeg); */
  background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
  border-radius: 8px;
}

.papel > * {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: #989898;
  color: transparent;
  font: 700 arial, sans-serif;
  padding: 2px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 3px hsl(0deg 0% 100% / 50%);
}
.fotoPerfil {
  width: 35%;
  

}
.fotoPerfil div {
  width: 100%;
}
.gleitonOne {
  display: flex;
  /* margin-bottom: -20px; */
}
.infoCapa {
  border-radius: 8px;
  display: flex;
  margin: 2em auto;
  color: white;
  align-items: center;
  background-color: rgba(129, 129, 129);
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}
.infoCapa img {
  width: 100%;
  
  /* background-image: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 0.587),
    rgba(0, 0, 0, 0.351) 70%
  ); */
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */

  /* margin: 10px 0; */
}
.infoP {
  width: 70%;
  padding: 10px;
  color: white;
  line-height: 0em;
  border-radius: 0px 8px 8px 0px;
  margin: 10px 2em;

}
.infoP a:hover {
  cursor: pointer;
}

.sociais a {
  text-decoration: none;
  color: white;
  transition: 300ms;
  width: fit-content;
}
.sociais a:hover {
  color: rgb(0, 0, 0);
}
.vidPerfil {
  border-radius: 50%;
  overflow: hidden;
  
}
.cursoP {
  cursor: progress;
}
.sociais {
  margin-top: 1px;
}

.iconesJ {
  width: 100%;
  background-color: gray;
}
.iconesJ a {
  margin-left: 10px;
  width: fit-content;
}
.baixarC a button {
  padding: 0.6em;
  margin: 1.3em;
}
.baixarC a button:hover {
  cursor: pointer;
}
.stail {
  margin: 10px 0px;
  display: flex;
  margin-top: 30px;
  gap: 10px;
  background-image: linear-gradient(to bottom, green, rgb(0, 55, 0));
  box-shadow: black 0px 1px 4px 0px;
  border-radius: 8px;
  padding: 2px;
  width: fit-content;
  color: rgb(255, 255, 255);
  transition: 500ms;
}
.stail:hover {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  background-image: linear-gradient(to bottom, rgb(1, 157, 1), rgb(0, 122, 0));
  box-shadow: black 0px 6px 8px 0px;
  border-radius: 8px;
  padding: 2px;
  width: fit-content;
  color: rgb(255, 255, 255);
}
.gleitonWeb {
  border:  black solid 1px;
  text-align: center;
  background-color:black;
  border-radius: 8px;
  margin-left: 5px;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/*Janela Windows CSS*/
.janelaWindows {
  /* background-image: url(../public/img/windows-10-gleiton-aparecido-soares-de-souza-baixar-curriculo.jpg); */
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
 
  width: 50%;
  margin-top: 20%;
  height: 30%;
  border: solid 1px black;
  text-align: center;
  padding-bottom: 1em;
  margin: auto;
  animation: janelaW 1s ;
}

@keyframes janelaW {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0px;
  }
}

.oculted {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .fotoPerfil {
    width: 100%;
    border-radius: 8px;
  }
  .infoP {
    width: 100%;
    margin-left: 20%;
  }
  

  .infoP h2 {
    line-height: 1em;
    font-size: 1.7em;
    text-align: center;
    margin-top: 2em;
  }
  .infoP p {
    line-height: 1em;
  }
}
@media (max-width: 1200px) {
  .infoP h2 {
    line-height: 1em;
    
  }
  .infoP p {
    line-height: .8em;
    
  }
  
  .fotoPerfil {
    width: 60%;
    
  }
  .fotoPerfil img {
    width: 60%;
    height: 60%;
    margin: auto;
  }
  .infoP {
    width: 100%;
    margin-left: 20%;
  }
}

@media (max-width: 568px) {
  .gleitonWeb {
    
    margin-left: 0px;
  
  }
  .infoP {
    width: 100%;
    margin: 10px 0em;
  }
  .infoCapa {
    display: block;
  }
  .fotoPerfil {
    width: 100%;
  }
  .janelaWindows {
    width: 100%;
  }
 
  .infoP h2 {
    line-height: 1em;
    font-size: 1.7em;
    text-align: center;
  }
}
.fotoPerfilUm img {
  width: 360px;
}