.hTopo {
  background-image: url("../public/img/Infraestrutura-de-ti.jpg");
  background-size: cover;
  background-position: center;
  width: "100%";
  height: 70vh;
  position: relative;
}
.centraliza {
  text-align: center;
}
.place {
  width: 60%;
  margin: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.place h2 {
  color: #ff5e13;
  font-family: "Roboto", Sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.place p {
  text-align: left;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  font-weight: 500;
}
.pButton {
  font-family: "Roboto", Sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 0.9em;
  background-color: #ff5e13;
  display: inline-block;
  line-height: 1;
  padding: 12px 24px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}
.cardServicos {
  display: flex;
  padding: 2em;
}
.cardServicos > div {
  width: 50%;
  margin: 10px;
}
.cardServicos p {
  line-height: 2em;
}
.cardServicos img {
  text-align: center;
  margin: auto;
}
.cardServicos p {
  line-height: 2em;
}
.carInfo {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.Soferecido li {
  line-height: 2em;
}
.suporte {
  background-color: rgb(255, 255, 255);
  color: black;
}
.contatoB {
  background-image: url("../public/img/entre-em-contato.avif");
  background-size: cover;
  background-position: center;
  padding: 2em;

}
.contatoC {
  width: 60%;
  margin: 20px auto;
  background: rgba(255, 151, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2em;
}

.contatoC input {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}
.contatoC textarea {
  width: 100%;
  padding: 10px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}
.bottonVoltar {
  position: fixed;
  z-index: 9999;
  color: white;
  background-color: black;
  font-size: 3em;
  cursor: pointer;
  border-radius: 0px 0px 12px 0px;
}
.icoW {
 z-index: 9999;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  text-align: end;
  padding: 10px;
}
.icoW img {
  width: 80px;
  width: 80px;
  height: 80px;
  right: 10px;
  position: fixed;
  bottom: 10px;
  position: relative;
  animation: pulsando 1s infinite alternate-reverse linear;
}
@keyframes pulsando {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.icoW::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(31, 126, 0);
  bottom: 0px;
  right: 0px;
  position: absolute;
  animation: gost 5s infinite linear;
}
@keyframes gost {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    transform: scale(1);
    opacity: 1;
    background-color: rgb(54, 207, 3);
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .cardServicos {
    display: block;
    padding: 2em;
  }
  .cardServicos > div {
    width: 100%;
    margin: 10px;
  }
  .cardServicos img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .place {
    width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contatoC {
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 151, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2em;
  }
  .place p {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
  }
}

/* Header Topo  */
.tituloTopo {
  background-color: red;
  color: white;
  height: var(--topo);
  text-align: center;
}
/* end Header Topo  */

/* Banner Topo  */
.bannerTop {
  background-image: url("../public/img/fundo-consultoria.jpeg");
  background-size: cover;
  height: calc(100vh - var(--topo));
  color: white;
  padding: 1em 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bannerTop::after  {
  content: '';
  width: 100%;
  height: calc(100vh - var(--topo));
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(170, 177, 182, 0.309);
}
.bannerTop > div {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
  z-index: 1;
  padding: 25px ;
}
.bannerTop > div h2{
  font-size: 4.5rem;
}
.bannerTop > div p {
  font-size: 24px;
  line-height: 32px;
}
.informacaoSobre div:nth-last-child(1){
  width: 30%;
  line-height: 2em;
  padding: 10px;
  /* border: #000000 solid 1px; */
}
.informacaoSobre div:nth-last-child(2) p{
  
  line-height: 2em;
  padding: 10px;
  /* font-size: 2.5em; */
}
.informacaoSobre div:nth-last-child(3) p{
  
  line-height: 2em;
  padding: 10px;
  /* font-size: 2.5em; */
}
/* end Banner Topo  */
.informacaoSobre img {
  width: 100%;
  margin: auto;
  padding: 50px;
}
.informacaoSobre {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.informacaoSobre > div {
  width: 30%;
}
.imgQuem {
  width: 100%;
  height: 300px;
  /* border: #000000 solid 1px; */
}
@media (max-width: 1200px) {
  .hdd {
    display: none;
  }
}
